html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
  /*grid-template: repeat(4, 1fr) / repeat(3, 1fr)*/
  /*grid-template: [header-start] 1fr [header-end] 1fr 1fr 1fr / 1fr 1fr 1fr;*/
  /*grid-auto-rows: 50px;*/
  grid-gap: 5px
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

.bigItem {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
